div.progress div.progress-bar-idle {
	background-color:#505050;
	background-image:linear-gradient(rgb(96, 96, 96) 0px, rgb(48, 48, 48) 100%);
}

div.menu div {
	text-align:center;
	margin:5px 0;
}

div.menu img {
	margin:0 auto;
	display:block;
	width:80%;
	max-width:100px;
}

@media (min-width:768px) {
	table.threats th:nth-child(2),
	table.measures th:nth-child(2),
	table.bia th:nth-child(n+2) {
		width:100px;
	}
}

@media (max-width:767px) {
	table.bia th:first-child {
		width:40%;
	}
	table.bia th:nth-child(n+2) {
		width:15%;
	}

	table.bia th,
	table.bia td:nth-child(1) {
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		max-width:0;
	}
}
