table.scope tr.bar {
	border-top:2px solid;
	background-color:#e0e0e0;
}

@media (min-width:768px) {
	table.scope td:nth-child(1) {
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		max-width:0;
	}

	table.scope th:nth-child(2),
	table.scope th:nth-child(3) {
		width:100px;
	}

	table.scope th:nth-child(4) {
		width:170px;
	}

	table.scope th:nth-child(5) {
		width:80px;
	}

	table.scope th.last {
		width:60px;
	}
}
