div.progress {
	cursor:pointer;
}

div.progress div.progress-bar-idle {
	background-color:#505050;
	background-image:linear-gradient(rgb(96, 96, 96) 0px, rgb(48, 48, 48) 100%);
}

div.categories {
	display:none;
	padding-bottom:15px;
}

div.categories h3 {
	margin-top:0;
}

div.categories div.progress {
	margin-bottom:5px;
	cursor:default;
}

table.measure {
	width:100%;
	margin-bottom:15px;
}

table.measure th a {
	color:#303030;
}

table.measure th:first-child {
	width:45px;
}

table.measure th:nth-child(3) {
	min-width:90px;
}

table.measure th:nth-child(4) {
	min-width:145px;
}

table.measure th:nth-child(5) {
	min-width:100px;
}

table.measure td:nth-child(7) {
	width:25px;
}

table.measure tr.category td {
	font-weight:bold;
	color:#803000;
	background-color:#f0f0f0;
	border-top:1px solid #d0d0d0;
}

table.measure td.name {
	overflow:hidden;
	text-overflow:ellipsis;
}

table.measure div.info {
	display:none;
}

table.measure td.urgency0 {
	color:#00c000;
}

table.measure td.urgency1 {
	color:#ffd000;
}

table.measure td.urgency2 {
	color:#ff8000;
}

table.measure td.urgency3 {
	color:#ff0000;
}

table.measure td.overdue {
	color:#ff0000;
}

table.measure td.relevant_no {
	color:#b0b0b0;
	text-decoration:line-through;
}

table.measure tr.data {
	cursor:pointer;
}

table.measure tr.data td:nth-child(6) {
	text-align:center;
}

table.measure tr.information {
	background-color:#fdf8f4;
	display:none;
}

table.measure tr.information td:nth-child(2) {
	text-align:right;
	padding-right:15px;
}

input#done {
	margin-left:3px;
}

input.form-control,
select.form-control,
textarea.form-control,
div.input-group {
	max-width:none;
}

span.glyphicon {
	padding:5px;
	margin:-5px;
}

div.dialogs {
	display:none;
}

div.ui-dialog div.ui-dialog-content {
	font-size:14px;
	white-space:pre-wrap;
}

label.handle {
	margin-right:5px;
}

@media (max-width:767px) {
	table.measure thead tr th:nth-child(2),
	table.measure tbody tr.data td:nth-child(2) {
		display:none;
	}
}

@media (max-width:450px) {
	table.measure thead tr th:nth-child(5),
	table.measure tbody tr td:nth-child(5),
	table.measure thead tr th:nth-child(7),
	table.measure tbody tr td:nth-child(7) {
		display:none;
	}
}

@media (max-width:550px) {
	table.measure thead tr th:nth-child(4),
	table.measure tbody tr td:nth-child(4) {
		display:none;
	}
}
