button.help {
	float:right;
}

img.title_icon + button.help {
	margin-right:-50px;
}

@media (min-width:768px) {
	button.help {
		margin-top:-75px;
	}
}

@media (max-width:767px) {
	button.help {
		margin-top:-50px;
	}
}
